[submodule "beaten-path"]
	path = patterns/beaten-path
	url = git@github.com:MusicalPatterns/pattern-beaten-path.git
[submodule "hafuhafu"]
	path = patterns/hafuhafu
	url = git@github.com:MusicalPatterns/pattern-hafuhafu.git
[submodule "stepwise"]
	path = patterns/stepwise
	url = git@github.com:MusicalPatterns/pattern-stepwise.git
[submodule "zdaubyaos"]
	path = patterns/zdaubyaos
	url = git@github.com:MusicalPatterns/pattern-zdaubyaos.git
[submodule "template"]
	path = patterns/template
	url = git@github.com:MusicalPatterns/pattern-template.git
[submodule "xelt"]
	path = patterns/xelt
	url = git@github.com:MusicalPatterns/pattern-xelt
[submodule "houndstoothtopia-theme"]
	path = patterns/houndstoothtopia-theme
	url = git@github.com:MusicalPatterns/pattern-houndstoothtopia-theme.git
