[submodule "beatenPath"]
	path = src/beatenPath
	url = https://github.com/MusicalPatterns/pattern-beatenPath.git
[submodule "hafuhafu"]
	path = src/hafuhafu
	url = https://github.com/MusicalPatterns/pattern-hafuhafu.git
[submodule "houndstoothtopiaTheme"]
	path = src/houndstoothtopiaTheme
	url = https://github.com/MusicalPatterns/pattern-houndstoothtopiaTheme.git
[submodule "stepwise"]
	path = src/stepwise
	url = https://github.com/MusicalPatterns/pattern-stepwise.git
[submodule "template"]
	path = src/template
	url = https://github.com/MusicalPatterns/pattern-template.git
[submodule "xelt"]
	path = src/xelt
	url = https://github.com/MusicalPatterns/pattern-xelt.git
[submodule "zdaubyaos"]
	path = src/zdaubyaos
	url = https://github.com/MusicalPatterns/pattern-zdaubyaos.git
[submodule "playroomTest"]
	path = src/playroomTest
	url = https://github.com/MusicalPatterns/pattern-playroomTest.git
[submodule "performerQa"]
	path = src/performerQa
	url = https://github.com/MusicalPatterns/pattern-performerQa.git
[submodule "omnizonk"]
	path = src/omnizonk
	url = https://github.com/MusicalPatterns/pattern-omnizonk.git
[submodule "xenharmonicSeries"]
	path = src/xenharmonicSeries
	url = https://github.com/MusicalPatterns/pattern-xenharmonicSeries.git
