[submodule "beatenPath"]
	path = src/beatenPath
	url = git@github.com:MusicalPatterns/pattern-beatenPath.git
[submodule "hafuhafu"]
	path = src/hafuhafu
	url = git@github.com:MusicalPatterns/pattern-hafuhafu.git
[submodule "houndstoothtopiaTheme"]
	path = src/houndstoothtopiaTheme
	url = git@github.com:MusicalPatterns/pattern-houndstoothtopiaTheme.git
[submodule "stepwise"]
	path = src/stepwise
	url = git@github.com:MusicalPatterns/pattern-stepwise.git
[submodule "template"]
	path = src/template
	url = git@github.com:MusicalPatterns/pattern-template.git
[submodule "xelt"]
	path = src/xelt
	url = git@github.com:MusicalPatterns/pattern-xelt.git
[submodule "zdaubyaos"]
	path = src/zdaubyaos
	url = git@github.com:MusicalPatterns/pattern-zdaubyaos.git
[submodule "playroomTest"]
	path = src/playroomTest
	url = git@github.com:MusicalPatterns/pattern-playroomTest.git
