.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*
node_modules
.DS_STORE
.module-cache
*.log*
dist

# Because these two stick around as long as the dev server is running
tsconfig.json
tsconfig-common.json
